%ol
  - wallets.each do |wallet_id, tokens|
    %li
      - wallet = Wallet.find(wallet_id)
      %a{href: '#'}
        = wallet.address
      %ul
        - tokens.each do |t|
          - token = Token.find_by(id: t.token_id)
          - next unless token
          %li
            %strong= token.contract_ticker_symbol
            - if t.old_number.present?
              - if wallet.ontology?
                = t.old_number.to_f
              - else
                = (t.old_number.to_f / 1e+18).round(8)
              %span ->
            - if wallet.ontology?
              = t.new_number.to_f
            - else
              = (t.new_number.to_f / 1e+18).round(8)
      