= form_for @network do |f|
  - if @network.errors.any?
    #error_explanation
      %h2= "#{pluralize(@network.errors.count, "error")} prohibited this network from being saved:"
      %ul
        - @network.errors.full_messages.each do |message|
          %li= message
  %table.table.mt-3
    %tr
      %td= f.label :network_name
      %td= f.text_field :network_name
    %tr
      %td= f.label :chain_id
      %td= f.number_field :chain_id
    %tr
      %td= f.label :active
      %td= f.check_box :active, {}, 'true', 'false'
  .actions.mt-2.mb-2
    = f.submit 'Save'
