.row.mb-1
  .col-md-12.col-sm-12.mb-2
    %button.btn.btn-primary.mb-2#refresh
      Refresh
    %a{href: prices_path, class: 'btn btn-primary mb-2'}
      Prices
    = render '/pages'
    %strong.mt-2{style: 'float: right;'}
      Balance:
      &nbsp;
      = @total_balance.to_s + ' USD'
.row
  .col-12
    %a.btn.btn-primary.mb-3{href: ontology_wallets_path}
      Ontology
.row
  .col-md-3.col-sm-12
    = select_tag 'network', options_for_select(Network.have_chain.actived.where(user: current_user).pluck(:network_name, :chain_id), params[:chain_id].presence || 56), class: 'form-control mb-3'
.row.mb-3
  .col-md-6.col-sm-12.mt-2
    .row
      .col-12
        = number_field_tag 'small_token_amount', params[:amount].to_f || 0.0, min: 0.0, step: 0.1, class: 'form-control'
    .row
      .col-12
        .form-check
          = check_box_tag :not_show_small_token, 'true', params[:not_show_small_token] == 'true', class: 'form-check-input'
          %label.form-check-label{for: 'not_show_small_token'} 
            Do not show
            %strong SMALL
            account
  .col-md-6.col-sm-12.d-flex.justify-content-end
    = link_to 'Delete All', bulk_delete_wallets_path, method: :delete, class: 'btn btn-danger float-right', style: 'height: 40px;', data: { confirm: 'Are you sure?' }
.row
  .col-12
    %table.table.table-stripped
      %thead
        %tr
          %th #
          %th Address
          %th Balance
          %th Copy
          %th{style: 'width: 50px'} Actions
      %tbody
        - @wallets.each.with_index(1) do |wallet, index|
          %tr
            %td
              = index
            %td
              = link_to wallet.address[0..5] + '*****' + wallet.address[-5..-1], wallet_path(wallet)
            %td
              = wallet.tokens.left_joins(:network).where('networks.chain_id = ?', params[:chain_id].presence || 56).sum(&:balance).ceil(2).to_s + ' USD'
            %td
              %a.copy-clipboard{href: '#', data: { address: wallet.address }}
                %i.fa.fa-clipboard
            %td
              = link_to 'Delete', wallet_path(wallet), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' }
        %tr
          %td
          %td
          %td
            %strong
              = @total_balance.to_s + ' USD'

:javascript
  $('#network').on('change', function() {
    let queryParams = new URLSearchParams(window.location.search)
    queryParams.set('chain_id', $(this).val())
    history.replaceState(null, null, "?"+queryParams.toString())
    window.location.href = window.location.origin + window.location.pathname + '?' + queryParams.toString()
  })

  $('#not_show_small_token').on('change', function() {
    let queryParams = new URLSearchParams(window.location.search)
    let url = window.location.origin + window.location.pathname

    if ($(this).is(':checked')) {
      queryParams.set('not_show_small_token', true)
      queryParams.set('amount', $('#small_token_amount').val())
      url = url + '?' + queryParams.toString()
    }
    window.location.href = url
  })

  $('#small_token_amount').on('change', function() {
    let queryParams = new URLSearchParams(window.location.search)
    let url = window.location.origin + window.location.pathname

    if ($('#not_show_small_token').is(':checked')) {
      queryParams.set('not_show_small_token', true)
      queryParams.set('amount', $(this).val())
      url = url + '?' + queryParams.toString()
    }
    window.location.href = url
  })

  $('#refresh').on('click', function() {
    $.ajax({
      url: '/refresh?chain_id=' + $('#network').val(),
      type: 'GET',
      async: true
    })
    alert('Refreshing')
  })

  $('.copy-clipboard').on('click', function(e) {
    e.preventDefault()
    navigator.clipboard.writeText($(this).data('address'))
  })
