%h2.mb-4
  Wallets
.row.mb-3
  .col-3
    %button#refresh
      Refresh
    %a{href: import_path, class: 'btn btn-primary'}
      Import
  .col-3
    = select_tag 'network', options_for_select(Network.where(user: current_user).pluck(:network_name, :chain_id), params[:chain_id].presence || 56), class: 'form-control mb-3'
.row.mb-3
  .col-12
    .form-check
      = check_box_tag :not_show_zero, 'true', params[:not_show_zero] == 'true', class: 'form-check-input'
      %label.form-check-label Do not show Zero account
.row
  .col-12
    %table.table.table-stripped
      %thead
        %tr
          %th #
          %th Address
          %th Balance
          %th{style: 'width: 50px'} Actions
      %tbody
        - @wallets.each.with_index(1) do |wallet, index|
          %tr
            %td
              = index
            %td
              = link_to wallet.address, wallet_path(wallet)
            %td
              = wallet.tokens.left_joins(:network).where('networks.chain_id = ?', params[:chain_id].presence || 56).sum(&:balance).ceil(2).to_s + ' USD'
            %td
              = link_to 'Delete', wallet_path(wallet), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' }
        %tr
          %td
          %td
          %td
            %strong
              = @total_balance.to_s + ' USD'

:javascript
  $('#network').on('change', function() {
    let queryParams = new URLSearchParams(window.location.search)
    queryParams.set('chain_id', $(this).val())
    history.replaceState(null, null, "?"+queryParams.toString())
    window.location.href = window.location.origin + window.location.pathname + '?' + queryParams.toString()
  })

  $('#not_show_zero').on('change', function() {
    let queryParams = new URLSearchParams(window.location.search)
    queryParams.set('not_show_zero', $(this).is(':checked'))
    window.location.href = window.location.origin + window.location.pathname + '?' + queryParams.toString()
  })

  $('#refresh').on('click', function() {
    $.ajax({
      url: '/refresh?chain_id=' + $('#network').val(),
      type: 'GET',
      async: true
    })
    alert('Refreshing')
  })
