%h2.mb-4{style: 'word-break: break-word;'}
  = @wallet.address
.row.mb-2
  .col-md-3.col-sm-12
    = select_tag 'network', options_for_select(Network.actived.where(user: current_user).pluck(:network_name, :chain_id), params[:chain_id].presence || 56), class: 'form-control mb-3'
  .col-md-3.col-sm-12
    %button.btn.btn-primary#refresh
      Refresh
    %a{href: wallets_path, class: 'btn btn-primary'}
      Wallets
- @tokens.each do |token|
  .card.mb-2
    .row.no-gutters
      .col-md-2.col-sm-12.text-center
        %img.card-img{:alt => token.contract_name, src: token.logo_url, onerror: "this.onerror=null;this.src='/404.png';", style: 'padding: 20px; height: 200px; width: 200px;'}/
      .col-md-8.col-sm-12
        .card-body
          %h5.card-title
            = token.contract_ticker_symbol
          %p.card-text
            %strong
              Contract Name:
            = token.contract_name
            %br
            %strong
              Contract Address:
            = token.contract_address
            %br
            %strong
              Balance:
            = token.balance.ceil(2).to_s + ' USD'
            %br
            %strong
              Price:
            = token.quote_rate.to_f.ceil(10).to_s
          - if token.network.scan_url.present?
            %a.btn.btn-primary{:href => "#{token.network.scan_url}/#{@wallet.address}", target: '_blank'}
              View on
              = token.network.network_name
              scan
          - else
            %a.btn.btn-secondary.disabled{:href => "#", style: 'opacity: 0.4;'} 
              View on
              = token.network.network_name
              scan
    %a.trash{href: '#', data: { id: token.id, contract_name: token.contract_name }}
      Trash

:javascript
  $('#network').on('change', function() {
    let queryParams = new URLSearchParams(window.location.search)
    queryParams.set('chain_id', $(this).val())
    history.replaceState(null, null, "?"+queryParams.toString())
    window.location.href = window.location.origin + window.location.pathname + '?' + queryParams.toString()
  })

  $('#refresh').on('click', function() {
    $.ajax({
      url: '/refresh?wallet_id=' + "#{params[:id]}" + '&chain_id=' + "#{params[:chain_id]}",
      type: 'GET',
      success: function () {
        location.reload()
      },
      async: false
    })
  })

  $('a.trash').on('click', function() {
    $.ajax({
      url: '/tokens/' + $(this).data('id') + '/trash?contract_name=' + $(this).data('contractName'),
      type: 'DELETE',
      success: function () {
        location.reload()
      }
    })
  })
