%h2.mb-4
  = @wallet.address
.row
  .col-3
    = select_tag 'network', options_for_select(Network.pluck(:network_name, :chain_id), params[:chain_id].presence || 56), class: 'form-control mb-3'
  .col-3
    %button#refresh
      Refresh
    %a{href: wallets_path, class: 'btn btn-primary'}
      Wallets
- @tokens.each do |token|
  .card.mb-2
    .row.no-gutters
      .col-2
        %img.card-img{:alt => token.contract_name, src: token.logo_url, style: 'padding: 20px'}/
      .col-8
        .card-body
          %h5.card-title
            = token.contract_ticker_symbol
          %p.card-text
            %strong
              Contract Name:
            = token.contract_name
            %br
            %strong
              Contract Name:
            = token.contract_address
            %br
            %strong
              Contract Name:
            = token.balance.ceil(2).to_s + ' USD'
          %a.btn.btn-primary{:href => "https://bscscan.com/address/#{@wallet.address}", target: '_blank'} View on BSCscan

:javascript
  $('#network').on('change', function() {
    window.location.href = window.location.origin + window.location.pathname + '?chain_id=' + $(this).val()
  })

  $('#refresh').on('click', function() {
    $.ajax({
      url: '/refresh?wallet_id=' + "#{params[:id]}" + '&chain_id=' + "#{params[:chain_id]}",
      type: 'GET',
      success: function () {
        location.reload()
      },
      async: false
    })
  })
