= form_for @trash do |f|
  - if @trash.errors.any?
    #error_explanation
      %h2= "#{pluralize(@trash.errors.count, "error")} prohibited this trash from being saved:"
      %ul
        - @trash.errors.full_messages.each do |message|
          %li= message
  %table.table.mt-3
    %tr
      %td Contract Name
      %td
        = f.text_field :contract_name
  .actions.mt-2.mb-2
    = f.submit 'Save'
