%h1 Listing trashes

%table.table.table-stripped
  %thead
    %tr
      %th #
      %th Contract Name
      %th
      %th

  %tbody
    - @trashes.each.with_index(1) do |trash, index|
      %tr
        %td= index
        %td= trash.contract_name
        %td= link_to 'Edit', edit_trash_path(trash)
        %td= link_to 'Destroy', trash, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Trash', new_trash_path
